<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <title>{{current_user.name}} details</title>
<style>
  body 
  {
    background: #fffafa;
    /* background-repeat: no-repeat; */
    background-size: cover ;
  }
  /* Control the right side */
  .right 
  {
    font-family: 'Montserrat', sans-serif;
    right: 0; 
  }

  .list-group-item
  {
    font-family: 'Montserrat', sans-serif;
  }
  
  li:nth-child(odd) { background: silver; color: rgb(100, 1, 1);}
  @media screen and (max-width: 500px) {
    /* body { background-color: greenyellow;} */
    /* #choice {visibility: hidden; margin-left: 0%;}
    #logout {float: right; padding-top: 0%; margin-right: 10%;}
    #oeres {float: left; padding-top: 5%; width: 100px; margin-left: 10%;} */
    /* .header { visibility: hidden;} */
    .collapse { margin-left: 20%;}
  }
</style>  
</head>    
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top  row">
      <button class="btn btn-primary" style=" margin-left: 5%; margin-top: 1%; margin-bottom: 1%;" ><a class="text-light" style="text-decoration: none;" href="/do_allotment">See Result</a></button> 
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> -->
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 80%; margin-top: 1%; margin-bottom: 1%;">
        <form class="form-inline my-2 my-lg-0">
          <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
          <button class="btn btn-success my-2 my-sm-0" type="submit"><a class="text-light" style="text-decoration: none;" href="/logout">Logout</a></button>
        </form>
      </div>
    </nav>
  <!-- <div class="container navbar-light bg-dark col-md-12 fixed-top header" style="height: 10%;">
      <a href="/do_allotment" id="oeres" target=""><span class="font-weight-light float-left text-info " style="margin-left: 10%; padding-top:1%;"><button class="btn btn-primary">See Result</button></span></a>
      <a href="#" id="choice"><h1><span class="font-weight-light float-left text-white" style="margin-left: 33%;">SELECT CHOICES</span></h1></a>
      <a href="/logout" id="logout"><span class="navbar-brand mb-0 h1 btn btn-warning" style="margin-left:16%; margin-top: 10px;">Logout</span></button></a>
  </div> -->
  <div class="col-md-12" style="padding-right:25%;">
    <div class="container float-left col-md-3 z-depth-5 text-center" style=" position:fixed; background: #fffafa; padding-top: 8%; margin-left: 3%;"> 
      <div class="card-header">
          <h3>Details</h3>
      </div>
      <div class="card text-uppercase text-secondary font-weight-bold text-center" style=" box-shadow: 8px 8px 8px 8px rgb(240, 236, 236);">
        <div class="card-body"><h3>{{current_user.name}}</h3></div>
        <div class="card-body"><h3>{{current_user.roll_number}}</h3></div>
        <div class="card-body"><h3>{{current_user.branch}}</h3></div>
        <div class="card-body"><h3>Semester: {{current_user.semester}}</h3></div>
        <div class="card-body"><h3>CGPI:    {{current_user.cgpi}}</h3></div>
        <a href="http://nithp.herokuapp.com/result/" target="blank" style="text-decoration: none;"><div class="card-body text-info"><h5>Check Your Result</h5></div></a>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 float-right text-center font-weight-light" style="margin-top: 7%;">
      <form action="{{ url_for('backend.save_details') }}" method="POST">
        <ol class="list-group" id="myList" ></br>
          {% for scode,subject in subjects %}
          <li class="list-group-item" style="height: 70px; width: 130%;">
              <input type="hidden" name="subjects[]" value="{{ scode }}"/> {{ scode }}:{{ subject }}
            </li>
            {% endfor %}</br>
          </ol>
          <input type="submit" value="Submit" class="btn btn-primary" style="width: 20%; margin-bottom: 5%; margin-left: 30%;"/>
      </form>
    </div>
    <div class="col-md-"></div>
  </div>
  <script>
    Sortable.create(myList, {
    animation: 100,
    group: 'list-1',
    draggable: '.list-group-item',
    handle: '.list-group-item',
    // sort: true,
    filter: '.sortable-disabled',
    chosenClass: 'active'
    });
  </script>

  <!-- Show success message -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <script>
    var messages = {{ messages | safe }};
    $("document").ready( function () {
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      } 
    });
  </script>
  {% endif %}
  {% endwith %}
  
</body>
</html>
