  <html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Student details</title>
<style>
  body 
  {
    background: #f5f3f3;
    background-repeat: no-repeat;
    background-size: cover ;
  }
  /* Control the right side */
  .right 
  {
    font-family: 'Montserrat', sans-serif;
    right: 0; 
  }

  .list-group-item
  {
    font-family: 'Montserrat', sans-serif;
  }
  
  /* li { background: green; } */
  li:nth-child(odd) { background: silver; color: rgb(100, 1, 1);}
</style>  
</head>    
<body>
    <a href="/logout" class="right" style="position: fixed;margin-right: 2%; margin-top: 2%;"><button class="btn btn-warning" style="width: 100%;">Log Out</button></a>
    <div class="container float-left col-md-3" style="height:100%; position:fixed; background: #f5f3f3; padding-bottom: 5%; padding-top: 5%;"> 
        <div class="card text-uppercase text-secondary font-weight-bold text-center" style="height:100%; background: #f5f3f3;">
          <div class="card-body" style="height: 0%;"><h3>{{current_user.name}}</h3></div>
          <div class="card-body" style="height: 0;"><h3>{{current_user.roll_number}}</h3></div>
          <div class="card-body" style="height: 5%;"><h3>{{current_user.branch}}</h3></div>
          <div class="card-body" style="height: 5%;"><h3>Semester: {{current_user.semester}}</h3></div>
          <div class="card-body" style="height: 5%;"><h3>CGPI:    {{current_user.cgpi}}</h3></div>
        </div>
    </div>
  <form action="{{ url_for('backend.save_details') }}" method="POST">
    <div class="col-md-12 float-right text-center font-weight-light" style="margin-right:15%; width: 40%; font-size: 18px">
      <div class="">
        <h1 class="text-secondary">SELECT CHOICES </h1>
        <ol class="list-group" id="myList" ></br>
          {% for scode,subject in subjects %}
          <li class="list-group-item" style="height: 70px;">
            <input type="hidden" name="subjects[]" value="{{ scode }}"/> {{ scode }}:{{ subject }}
          </li>
          {% endfor %}</br>
        </ol>
        <input type="submit" value="Submit" class="btn btn-primary" style="width: 20%; margin-bottom: 5%;"/>
      </div>
    </div>
  </form>
  <script>
    Sortable.create(myList, {
    animation: 100,
    group: 'list-1',
    draggable: '.list-group-item',
    handle: '.list-group-item',
    // sort: true,
    filter: '.sortable-disabled',
    chosenClass: 'active'
    });
  </script>

  <!-- Show success message -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <script>
    var messages = {{ messages | safe }};
    $("document").ready( function () {
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      } 
    });
  </script>
  {% endif %}
  {% endwith %}
  
</body>
</html>
