<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Syllabus</title>
</head>
<body class="bg-dark">
    <div class="row justify-content-center" style="margin:5%; margin-top: 0%; margin-bottom: 0%;">
        <div class="card">
            <div class="card-body" style="margin-left: 10%; margin-right: 10%;">
                <center><h5>BIONANOTECHNOLOGY (CMO–329)</h5></center>
                <p class="card-text"><b>Unit 1: Introduction</b><br>Nanotechnology and Bio-nanotechnology, Notable Nano Images in Bio-nanotechnology, AFM-qd, Nano-Drug Delivery Chip, Atomic Force Microscopy Image (AFM) of SWNT, Scanning Electron Microscopy lmage (SEM) of SWNT, 
                    Opportunities and Challenges of Bio-nanotechnology, Growth potential of Nanotechnology. The Significance of Nano Domain.                
                </p>
                <p class="card-text"><b>Unit 2: Nano Drug Delivery</b><br>
                    Conventional Drug Delivery, Targeted Drug Delivery, Chemistry of Drug Delivery Vehicles, Delivery Profiles,
                    The role of Nanotechnology in Drug Delivery, Advantages of Targeted Drug Delivery Systems.
                </p>
                <p class="card-text"><b>Unit 3: Bio-Nanoimaging.</b><br>
                    Quantum Dots, Ultrasound contrast Agents, Magnetic Nanoparticles
                </p>
                <p class="card-text"><b>Unit 4: Successful Applications of Bio-nanotechnology</b><br>
                    Nanostructures and Nano-systems, Nano-particles, in Vitro Diagnostics. Medical Application of Nano-systems and Nano-particles, Synthesis of Gold, 
                    Titania and Zinc Oxide nano-particles and their applications in Bio-nanotechnology, Bio-nanotechnology today and its future.
                </p>
                <p class="card-text"><b>Textbooks:</b><br>
                    1. Bio-Nanotechnology by Elisabeth S. Papazolou, Aravind Parthasarathy, SchooI of Biomedical    
                    Engineering. Drexel University, M & C Morgan & Claypool publishers. <br>
                    2. Bio-nanotechnology lesson from Nature by David S. Goodsell, Ph.D., Department of 
                    Molecular Biology, The Scripps Research Institute La Jolla, California John Wiley & Sons Inc. 
                    Publications.
               </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body" style="margin-left: 10%; margin-right: 10%;">
                <center><h5 class="center">ENGINEERING OPTIMIZATION (CHO-326)</h5></center>
                <p class="card-text"><b>Introduction:</b><br> Optimization and calculus based classical optimization techniques.</p>
                <p class="card-text"><b>One dimensional Minimization Methods:</b><br> Elimination methods- equally spaced points method,
                        Fibonacci method and golden section method; Interpolation methods-quadratic interpolation and cubic
                        interpolation, Newton and quasi-Newton methods.</p>
                <p class="card-text"><b>Linear Programming:</b><br> Graphical representation, simplex and revised simplex methods, duality and
                        transportation problems.</p>
                <p class="card-text"><b>Multivariable Non –Linear Programming:</b><br> Unconstrained- univariate method, Powell’s method, simplex,
                        method, rotating coordinate method, steepest descent method, Fletcher Reeves method, Constrainedcomplex method, feasible directions method, GRG method, penalty function methods and augmented
                        Lagrange multiplier method.</p>    
                <p class="card-text"><b>Dynamic Programming:</b><br> Multistage processes- acyclic and cyclic, suboptimization, principle of optimality
                        and applications.
                        </p>                                            
                <p class="card-text"><b>Geometric Programming (GP):</b><br> Differential calculus and Arithmetic- Geometric Inequality approach to
                    unconstrained GP; Constrained GP minimization; GP with mixed inequality constraints and
                    Complementary GP.</p>
                <p class="card-text"><b>Emerging Optimization Techniques:</b><br> Genetic algorithm, simulated annealing, particle swarm and ant
                    colony optimization.
                    </p>
                <p class="card-text"><b>Text Books:</b><br>
                    (1) Edgar T.F., Himmelblau D.M and Lasdon L.S, “Optimization of Chemical Processes”, 2nd
                    Ed,(2001), Mc Graw Hill. <br>
                    (2) Beveridge G.S.G and Schechter R.S. “ Optimization: Theory and Practice”, (1970) McGraw Hill.
                </p>
                <p class="card-text"><b>Reference Books:</b> <br>
                        (1) Rao S.S., “Engineering Optimization Theory and Practice”, 4th Ed.(2009), Wiley. <br>
                        (2) Ravindran A, Ragsdell K.M Reklaitis G.V “Engineering Optimization, Methods and
                        Applications”Johnwiely & Sons (2006).</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body" style="margin-left: 10%; margin-right: 10%;">
                <center><h5>MODELLING AND SIMULATION(MEO-325)</h5></center>
                <p class="card-text"><b>1. INTRODUCTION</b><br>System, continuous and discrete system, types of simulation models, advantages and disadvantages of simulation,
                    areas of application, systems and system environment, components of a system.
                </p>
                <p class="card-text"><b>2. MONTE CARLO METHOD</b><br>Introduction, normally distributed random numbers, Monte Carlo vs. stochastic simulation Concepts in
                    discrete event simulation, time advance algorithm, manual simulation using event scheduling, basis
                    properties and operations.
                </p>
                <p class="card-text"><b>3. MODELS IN SIMULATION</b><br>Terminology and concepts, statistical models: queuing systems; inventory systems; reliability and
                    maintainability, limited data, discrete distributions: Bernoulli distribution; Binomial distribution;
                    Geometric distribution, continuous distribution: Uniform distribution; Exponential distribution; Gamma
                    distribution; Normal distribution; Weibull distribution; Triangular Distribution; Lognormal distribution,
                    Poisson process.
                </p>
                <p class="card-text"><b>4. SIMULATION OF QUEING SYSTEMS</b><br>Characteristics of queuing systems, the calling population, system capacity, arrival process, service
                    mechanism, queuing notations, long run measures of performance of queuing systems.
                </p>
                <p class="card-text"><b>5. APPLICATIONS OF SIMULATIONS</b><br>Applications of Simulation in Inventory Systems, Project evaluation and review technique, counter
                    service, Maintenance and replacement problems
                </p>
                <p class="card-text"><b>TEXT BOOKS</b><br>Simulation Modelling and Analysis by Law and Kelton, Mc Graw Hill, 1991
                </p>
                <p class="card-text"><b>REFERRENCE BOOKS</b><br>1. Simulation Model Design& execution by Fishwich, Prentice Hall, 1995 <br>
                    2. Discrete event system simulation by Banks, Carson, Nelson and Nicol
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body" style="margin-left: 10%; margin-right: 10%;">
                <center><h5>Finite element Method (CEO-325)</h5></center>
                <p class="card-text"><b>Introduction:</b><br>Principles of discretization, element stiffness and mass formulation based on direct,
                    variational and weighted residual techniques and displacements approach, Shape functions and numerical
                    integrations, convergence, Displacement formulation for rectangular, triangular and isoparametric
                    elements for two dimensional and axisymetric stress analysis. Three dimensional elements and
                    degenerated forms. Stiffener elements and modifications such as use of different coordinate systems use
                    of non‐conforming modes and penalty functions. FEM applications in engineering problems.
                </p>
                <p><b>BOOKS</b><br>1. O.C. Zienkiewicz And R.L. Taylor, Finite Element Methods, Vol I &Vol II, Mcgraw Hill, 1989 <br>
                    2. K. J. Bathe, Finite Element Procedures, Phi Ltd. <br>
                    3. R.D.Cook, Malkus&Plesha, Concept and Application of Finite Element Method, John Wiley. <br>
                    4. David V.Hutton, Fundamental of Finite Element Analysis, Tata Mcgraw Hill Education <br>
                    5. J.N.Reedy, An Introduction to The Finite Element Method, Tata Mcgraw Hill Education. <br>
                    6. Kenneth H.Huebner,Donald L.Dewhirst&Douglas E.Smith,Ted G.Byrom, The Finite Element 
                    Analysis for Engineers, John Wiley. <br>
                    7. Chandrupatla, Tirupathi R., Belgundu, Ashok D., Introduction to Finite Elements in Engineering, 
                    Prentice-Hall. <br>
                    8. C.S.Krishnamoorthy,Finite Element Analysis (Theory & Programming),Tata Mcgraw Hill
                    Education. <br>
                    9. Chennakesava R.Alavala,Finite Element Methods, PHI. <br>
                    10. V.K.Manicka Selvam, Rudiments of Finite Element Method Analysis of Structures, Dhanpat Rai. <br>
                    11. P.Seshu, Finite Element Analysis, PHI.
                </p> 
            </div>
        </div>
        <div class="card">
            <div class="card-body" style="margin-left: 10%; margin-right: 10%;">
                <center><h5>TELECOMMUNICATION SYSTEMS (ECO-325)</h5></center>
                <p class="card-text"><b>1. Introduction</b><br>Basic elements of communication network. Switching systems. Signaling and signaling
                    functions.
                </p>
                <p class="card-text"><b>2. Telecommunication systems</b><br>Digital telephone network.T1 Carrier systems. TDM hierarchy. Data under voice. Digital
                    switching. Echo cancellers. 
                </p>
                <p class="card-text"><b>3. Transmission modes</b><br>Introduction Synchronous and asynchronous transmission. Line coding .Error performance.
                    TDM. TDM loops and rings.
                </p>
                <p class="card-text"><b>4. Switching systems</b><br>Space and time divided switches. Multistage switches. Design examples. Path finding.
                    Switching matrix control. Digital time division switch. Time Space switching. Time Space
                    Time switching. Digital Switching in analog environment
                </p>
                <p class="card-text"><b>5. Timing recovery</b><br>Introduction Timing recovery. Jitter. Network synchronization. Digital subscriber accessISDN network. ADSL. Traffic analysis
                </p>
                <p class="card-text"><b>Text Books:</b><br>
                    1. J.C. Bellamy, Digital Telephony, (3/e), Wiley, 2000. <br>
                    2. E.Keiser&E.Strange, Digital Telephony and Network Integration, (2/e), Van Nostrand, 1995.
                </p>
                <p class="card-text"><b>Reference Books:</b><br>
                    1. ThiagarajanViswanathan, Telecommunication Switching Systems and Networks, PHI, 2006. <br>
                    2. J.E. Flood, Telecommunications Switching, Traffic and Networks, Prentice Hall, 1995.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body" style="margin-left: 10%; margin-right: 10%;">
                <center><h5>MEMS AND SENSOR DESIGN (ECO-325)</h5></center>
                <p class="card-text"><b>1. Introduction to MEMS</b><br>Introduction to MEMS and Microsystems, Materials and Substrates for MEMS,
                    Sensors/Transducers, Sensors characterization and classifications, microactuators,
                    Application of MEMS.
                </p>
                <p class="card-text"><b>2. Material Properties</b><br>MEMS materials, structural and sacrificial materials, properties of silicon, mechanical,
                    electrical and thermal properties of materials, Basic modeling of elements in electrical
                    and mechanical systems.
                </p>
                <p class="card-text"><b>3. MEMS Fabrication</b><br>MEMS Fabrication Technologies, single crystal growth, micromaching,
                    photolithography, microsterolithography, thin film deposition, impurity doping, diffusion,
                    etching, bulk and surface micromaching, etch stop technique and microstructure, LIGA.
                </p>
                <p class="card-text"><b>4. Mechanical Sensors & Actuators</b><br>Stress and Strain, Hooke's Law. Stress and Strain of Beam Structures, Cantilever,
                    Pressure sensors, Piezoresistance Effect, Piezoelectricity, Piezoresistive Sensor,
                    capacitive sensors, Inductive sensors, MEMS inertial sensors, micromachined
                    microaccelerometer for MEMS, Parallel-plate Actuator, piezoactuators.
                </p>
                <p class="card-text"><b>5. Magnetic Sensors</b><br>Magnetic material for MEMS, magnetic sensing and detection, mannetoresistive sensors,
                    hall effect, magnetodiode, megnetotransitors, MEMS magnetic sensors, RF MEMS.
                </p>
                <p class="card-text"><b>6. Thermal Sensors</b><br>Temperature coefficient of resistance, Thermo-electricity, Thermocouples, Thermal and
                    temperature sensors, heat pump, micromachined thermocouple probe, thermal flow
                    sensors, shape memory allloy.
                </p>
                <p class="card-text"><b>Text Books:</b><br>
                        1. Analysis and Design Principles of MEMS Devices by Minhang Bao, ELSEVIER. <br>
                        2. M. J. Usher, “Sensors and Transducers”, McMillian Hampshire. <br>
                        3. N. P. Mahalik, “MEMS” Tata McGraq Hill.
                </p>
                <p class="card-text"><b>References</b><br>
                        1. R.S. Muller, Howe, Senturia and Smith, “Microsensors”, IEEE Press. <br>
                        2. S. M. Sze, Semiconductor Sensors, Willy –Interscience Publications
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body" style="margin-left: 10%; margin-right: 10%;">
                <center><h5>COMPUTER GRAPHICS (CSO-324)</h5></center>
                <p class="card-text"><b>Introduction to Computer Graphics</b><br>
                        Overview of Graphics Systems, Display Devices, Hard copy Devices. Interactive Input Devices, Display
                        Processors, The Graphical Kernel System, Output Primitives, Line drawing algorithms, Circle Generation algorithms,
                        Character Generation.
                </p>
                <p class="card-text"><b>Raster Scan Graphics</b><br>
                    Line Drawing Algorithms, Circle Generation, General Function Rasterization, Scan Conversion- Generation of
                    the display, Image Compression, Polygon Filling, Fundamentals of Antialiasing.
                </p>
                <p class="card-text"><b>Two-Dimensional Geometric Transformation & Viewing</b><br>
                        Basic Transformation, Translation, Rotation, Scaling, Other Transformation Reflection, Shear, Transformation
                        functions, Window to viewport co-ordinate transformation, Clipping Operations, Point Clipping, Line Clipping, Polygon
                        Clipping.
                </p>
                <p class="card-text"><b>Three- Dimensional Concepts & Object Representations</b><br>
                        Three Dimensional Display Methods, Parallel Projection, Perspective Projection, Translation, Rotation, Scaling,
                        Composite Transformation, Three dimensional Transformation function, Polygon Surfaces, Curved Lines and surfaces,
                        Bezier Curves and surfaces, B-Spline Curves and surfaces.
                </p>
                <p class="card-text"><b>Graphics hardware</b><br>
                        Display technology, random scan, raster scan display processing, input devices for interaction.
                </p>
                <p class="card-text"><b>Visible Lines and Visible Surfaces</b><br>
                        Visual Realism, Hidden line and hidden surface removal: depth buffer algorithm, geometric computations, scan
                        line coherence algorithms, area coherence algorithms, priority algorithm, shading and color models, Modeling methods.
                </p>
                <p class="card-text"><b>Rendering</b><br>
                        A simple illumination model, Transparency, Refraction effects in transparent materials, Simple Transparency
                        Models, Z-Buffer Transparency, Shadows, Texture.
                </p>
                <p class="card-text"><b>Text and Reference Books</b><br>
                        1. D.F. Rogers, “Procedural Elements for Computer Graphics”, McGraw Hill. <br>
                        2. Hearn and Baker, “Computer Graphics”, PHI. <br>
                        3. S. Harrington, “Computer Graphics - A programming approach”, McGraw Hill. <br>
                        4. D.F. Rogers, “Mathematical Elements for Computer Graphics”, McGraw Hill.
                </p>
            </div>
        </div>
    </div>
</body>
</html>